/* Style.css */
body {
    font-family: sans-serif;
    background-color: #caa6853d;
}

header {
    background-color: #049eb9bd;
    padding: 20px;
    color: rgb(241, 234, 247);
}
.img3{
    padding-left: 380px;
}

